{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="container m-5">
  <a href="/" class="btn btn-secondary mt-5 mb-5" tabindex="-1" role="button" aria-disabled="true">Home</a>
  <a href="{% url 'items:export_requests' %}" class="btn btn-primary btn-xs pull-right"><b>+</b>Genrate Excel Report</a>
  <a href="{% url 'items:requests' %}" class="btn btn-success btn-xs pull-right">Add new request</a>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Staff ID</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Staff Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>

     {% for user in users %}

         <tr>
            <td>{{ user.staff_no }}</td>
            <td>{{ user.staff_fname }}</td>
            <td>{{ user.staff_sname }}</td>
            <td>{{ user.staff_email }}</td>
            <td>{{ user.password }}</td>
            



             <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Action</button>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/request_details/{{ request.id }}/">View Details</a></li>
                      <li><a class="dropdown-item" href="/update_request/{{ request.id }}/">Edit request Details</a></li>
                      <li><a class="dropdown-item" href="/delete_request/{{ request.id }}">Delete request</a></li>
                    </ul>
                  </div>
                  
             </td>
            </div>
         </tr>
        
         
         {% endfor %}
        </div>
      </table>
        
      



{% endblock %}
