{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="container m-5 ">
{#  <a href="{% url 'items:index' %}" class="btn btn-secondary mt-5 mb-5" tabindex="-1" role="button" aria-disabled="true">Home</a>#}
  <a href="{% url 'items:export_assets' %}" class="btn btn-primary mt-5 mb-5 btn-xs pull-right"><b>+</b>Genrate Excel Report</a>
  <a href="{% url 'items:insert' %}" class="btn btn-success btn-xs pull-right">Add new Asset</a>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Inventory ID</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Inventory Value</th>
            <th>Department</th>
            <th>Qty in Stock</th>
            <th>Desc</th>
            <th>Actions</th>
            <!-- <th>Image</th> -->
        </tr>

     {% for asset in assets %}

         <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.asset_name }}</td>
            <td>{{ asset.unit_cost }}</td>
            <td>{{ asset.inv_value }}</td>
            <td>{{ asset.department }}</td>
            <td>{{ asset.asset_qty }}</td>
            <td>{{ asset.asset_specs }}</td>
             <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Action</button>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/details/{{ asset.id }}/">View Details</a></li>
                      <li><a class="dropdown-item" href="/update_asset/{{ asset.id }}/">Edit Asset Details</a></li>
                      <li><a class="dropdown-item" href="/confirmdelete/{{ asset.id }}">Delete Asset</a></li>
                    </ul>
                  </div>
                  
             </td>
            <!-- <td><div class="row">
             <div class="col-md-4 card m-3">
                 <img src="/media/{{ asset.asset_img }}" alt="{{ asset.asset_name }} image" width="70%" height="70%">

             </div> -->

           </div>
         </tr>
        
         
         {% endfor %}
        </div>
      </table>
        
      



{% endblock %}
